* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

div {
	margin: 5px;
}

#wrapper {
	width: 910px;
	overflow: auto;
	border: thin solid turquoise;
}

#header {
	background-image: url(clouds.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	height: 78px;
	border: thin solid turquoise;
}

#menu {
	width: 125px;
	float: left;
}

div a {
	background-color: turquoise;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	width: 100%;
	text-decoration: none;
	float: left;
	padding: 5px;
	margin-bottom: 1px;
}

#news {
	width: 150px;
	float: right;
	border: thin solid turquoise;
}

#content {
	width: 593px; /* 65% */
	float: left;
	padding-left: 10px
}

p {
	margin: 0px;
	padding: 5px;
}

h2 {
	margin: 0px;
	color: white;
	background-color: turquoise;
	font-variant: small-caps;
	font-weight: bold;
	padding: 5px;
}

table, tr, td {
	border: thin solid turquoise;
	border-collapse: collapse;
}

#copyright {
	background-color: turquoise;
	color: white;
	text-align: center;
	clear: both;
}