* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
.header{
	background-color: #004080;
	opacity: 0.75;
   	color: #ffffff;
}

body {
    padding-bottom: 20px;
}

.navbar .navbar-nav {
	color: #000000;
	font: bold 18px georgia;
  	display: inline-block;
  	float: none;
  	vertical-align: top;
}
.item{
	top:50%;
	left:50%;
}
#mainimage{
	padding-bottom: 25px;
}
@media (max-width: 768px) {
.button{
	color: #004080;
	}

 }