* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

div {
	margin: 5px;
}

#wrapper {
	width: 910px;
	overflow: auto;
	border: thin solid turquoise;
	box-shadow: 10px 10px 5px grey;
}

#header {
	background-image: url(clouds.jpg);
	background-position:  left;
	background-size:250px 78px;
	background-repeat:repeat-x;
	height: 78px;
	border: thin solid turquoise;
}

.image {
    position: absolute;
    top: 15px;
    left: 840px;
    animation:slide 10s infinite ;
}

@keyframes slide  { 
	0% { position: absolute;
         left: 840px;transform:scaleX(1);}  
    45% { position: absolute;
         left: 40px; transform:scaleX(1); }
    55% {  position: absolute;
         left: 40px; transform:scaleX(-1);  }

    90% { position: absolute;
         left: 840px; transform:scaleX(-1);}   	
    100% { position: absolute;
         left: 840px;transform:scaleX(1);  }
        

    }

#menu {
	width: 125px;
	float: left;
}

div a {
	background-color: turquoise;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	width: 100%;
	text-decoration: none;
	float: left;
	padding: 5px;
	margin-bottom: 1px;
}

#news {
	width: 150px;
	float: right;
	border: thin solid turquoise;
}

#content {
	width: 593px; /* 65% */
	float: left;
	padding-left: 10px
}

p {
	margin: 0px;
	padding: 5px;
}

h2 {
	margin: 0px;
	color: white;
	background-color: turquoise;
	font-variant: small-caps;
	font-weight: bold;
	padding: 5px;
}

table, tr, td {
	border: thin solid turquoise;
	border-collapse: collapse;
}

#copyright {
	background-color: turquoise;
	color: white;
	text-align: center;
	clear: both;
}