a {
  background-color: $prim-color;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  padding: $def-width;
  width: 100%;
  text-decoration: none;
  float: left;
  margin-bottom: 1px;
}