$font-stack: Helvetica, Arial, sans-serif;
$prim-color: turquoise;
$def-width: 5px;
$reset: 0px;

@mixin thin-border($color){
	border: thin solid $color;
}

* {
	font-family: $font-stack;
	font-size: 1em
}


div {
	margin: $def-width;
	@import 'a';
}

p {
	margin: $reset;
	padding: $def-width;
}

@import 'h2';

table, tr, td {
	@include thin-border($prim-color);
	border-collapse: collapse;
}


#wrapper {
	width: 910px;
	overflow: auto;
	@include thin-border($prim-color);
}

#header {
	background-image: url(clouds.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	height: 78px;
	@include thin-border($prim-color);
}

#menu {
	width: 125px;
	float: left;
}

#news {
	width: 150px;
	float: right;
	@include thin-border($prim-color);
}

#content {
	width: 593px; /* 65% */
	float: left;
	padding-left: $def-width * 2
}

#copyright {
	background-color: $prim-color;
	color: white;
	text-align: center;
	clear: both;
}