* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

div {
  margin: 5px; }
  div a {
    background-color: turquoise;
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    float: left;
    margin-bottom: 1px; }

p {
  margin: 0px;
  padding: 5px; }

h2 {
  background-color: turquoise;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  padding: 5px;
  margin: 0px; }

table, tr, td {
  border: thin solid turquoise;
  border-collapse: collapse; }

#wrapper {
  width: 910px;
  overflow: auto;
  border: thin solid turquoise; }

#header {
  background-image: url(clouds.jpg);
  background-position: top left;
  background-repeat: repeat-x;
  height: 78px;
  border: thin solid turquoise; }

#menu {
  width: 125px;
  float: left; }

#news {
  width: 150px;
  float: right;
  border: thin solid turquoise; }

#content {
  width: 593px;
  /* 65% */
  float: left;
  padding-left: 10px; }

#copyright {
  background-color: turquoise;
  color: white;
  text-align: center;
  clear: both; }

/*# sourceMappingURL=style.css.map */
